a.read-source {
    color: #888;
    font-size: 90%;
    &:hover {
        color: @link-color;
    }
}

a.accent {
    color: @accent-color;
}

img.lazy {
    /*background-color: @dark-layout-color;*/
    color: @dark-layout-color;
}

.details {
    color: #777;
}
