.content-header {
    margin-bottom: 16px;
    border-bottom: 1px solid @layout-color;
    padding-bottom: 2px;
    h1,
    h2,
    h3 {
        margin: 0px;
        font-weight: normal;
        padding-bottom: 2px;
    }
    h1 {
        line-height: 26px;
    }
    .media-object {
        .square(45px);
        .border-radius(3px);
    }
}
