#header-menu {
    padding: 0px;
    margin: 10px 0px 0px 0px;
    list-style-type: none;
    white-space: nowrap;
    > li {
        display: inline-block;
        margin: 0px;
        padding: 0px;
        > a {
            line-height: 14px;
            display: block;
            padding: 8px 15px;
            margin: 0px 1px;
            color: @second-color;
            font-weight: bold;
            text-decoration: none;
            .border-radius(@border-radius);
            &:hover {
                background-color: @dark-layout-color;
            }
            &.selected {
                background-color: @link-color;
                color: #fff;
            }
        }
    }
}

.dropdown-menu {
    .box-shadow(0 3px 6px rgba(0, 0, 0, .175));
}

#dd-more.dropdown li {
    display: none;
}

@h-menu-min-width: 260px;
@h-menu-items: 3;
@h-menu-item-width: 160px;
@media (min-width: (@h-menu-min-width + @h-menu-items * @h-menu-item-width)) {
    #dd-more.dropdown {
        display: none;
    }
}

@media (max-width: (@h-menu-min-width + @h-menu-items * @h-menu-item-width)) {
    #dd-more.dropdown li:nth-child(3) {
        display: inherit;
    }
    #dd-more.dropdown li:nth-child(2) {
        display: none;
    }
    #header-menu .dd-item:nth-child(4) {
        display: none;
    }
}

@media (max-width: (@h-menu-min-width + (@h-menu-items - 1) * @h-menu-item-width)) {
    #dd-more.dropdown li:nth-child(3) {
        display: inherit;
    }
    #dd-more.dropdown li:nth-child(2) {
        display: inherit;
    }
    #header-menu .dd-item:nth-child(3) {
        display: none;
    }
    #header-menu .dd-item:nth-child(4) {
        display: none;
    }
}

@media (max-width: (@h-menu-min-width + (@h-menu-items - 2) * @h-menu-item-width)) {
    #dd-more.dropdown li {
        display: inherit !important;
    }
    #header-menu .dd-item:nth-child(2) {
        display: none;
    }
    #header-menu .dd-item:nth-child(3) {
        display: none;
    }
    #header-menu .dd-item:nth-child(4) {
        display: none;
    }
}
