.list-item.ot-news {
    padding: 8px 0px;
    border-bottom: 1px solid #eee;
}

.item.ot-news {
    p {
        margin: 2px 0px 4px 0px;
        line-height: 20px;
    }
    .details {
        font-size: 90%;
    }
    a.item-name {
        /*font-size: 13px;*/
        display: block;
        font-weight: bold;
    }
}

.list.ot-news {
    &.view-simple {
        img {
            .square(75px);
            border-radius: @border-radius;
        }
        .list-item:first-child {
            padding-top: 0px;
        }
    }
}
