a.accent,
a.source {
	color: @accent-color;
}

img.lazy {
	background-color: #eee;
	color: #eee;
}

.ref-color {
	&.domain-70 {
		color: @domain-live-color;
	}
	&.domain-40 {
		color: @domain-sports-color;
	}
	&.domain-10 {
		color: @domain-politics-color;
	}
	&.domain-30 {
		color: @domain-entertainment-color;
	}
	&.domain-60 {
		color: @domain-science-color;
	}
	&.domain-90 {
		color: @domain-justice-color;
	}
	&.domain-80 {
		color: @domain-arts-color;
	}
	&.domain-50 {
		color: @domain-tech-color;
	}
	&.domain-20 {
		color: @domain-business-color;
	}
	&.domain-World {
		color: @domain-world-color;
	}
}

.ref-bg_hover {
	&.domain-70 {
		&:hover, &.active {
			background-color: @domain-live-color;
		}
	}
	&.domain-40 {
		&:hover, &.active {
			background-color: @domain-sports-color;
		}
	}
	&.domain-10 {
		&:hover, &.active {
			background-color: @domain-politics-color;
		}
	}
	&.domain-30 {
		&:hover, &.active {
			background-color: @domain-entertainment-color;
		}
	}
	&.domain-60 {
		&:hover, &.active {
			background-color: @domain-science-color;
		}
	}
	&.domain-90 {
		&:hover, &.active {
			background-color: @domain-justice-color;
		}
	}
	&.domain-80 {
		&:hover, &.active {
			background-color: @domain-arts-color;
		}
	}
	&.domain-50 {
		&:hover, &.active {
			background-color: @domain-tech-color;
		}
	}
	&.domain-20 {
		&:hover, &.active {
			background-color: @domain-business-color;
		}
	}
	&.domain-World {
		&:hover, &.active {
			background-color: @domain-world-color;
		}
	}
}

.ref-bg {
	&.domain-70 {
		background-color: @domain-live-color;
	}
	&.domain-40 {
		background-color: @domain-sports-color;
	}
	&.domain-10 {
		background-color: @domain-politics-color;
	}
	&.domain-30 {
		background-color: @domain-entertainment-color;
	}
	&.domain-60 {
		background-color: @domain-science-color;
	}
	&.domain-90 {
		background-color: @domain-justice-color;
	}
	&.domain-80 {
		background-color: @domain-arts-color;
	}
	&.domain-50 {
		background-color: @domain-tech-color;
	}
	&.domain-20 {
		background-color: @domain-business-color;
	}
	&.domain-World {
		background-color: @domain-world-color;
	}
}

#page .ref-border-top {
	&.domain-70 {
		border-top-color: @domain-live-color;
	}
	&.domain-40 {
		border-top-color: @domain-sports-color;
	}
	&.domain-10 {
		border-top-color: @domain-politics-color;
	}
	&.domain-30 {
		border-top-color: @domain-entertainment-color;
	}
	&.domain-60 {
		border-top-color: @domain-science-color;
	}
	&.domain-90 {
		border-top-color: @domain-justice-color;
	}
	&.domain-80 {
		border-top-color: @domain-arts-color;
	}
	&.domain-50 {
		border-top-color: @domain-tech-color;
	}
	&.domain-20 {
		border-top-color: @domain-business-color;
	}
	&.domain-World {
		border-top-color: @domain-world-color;
	}
}

#page .ref-border-top_hover {
	&.domain-70 {
		&:hover {
			border-top-color: @domain-live-color;
		}
	}
	&.domain-40 {
		&:hover {
			border-top-color: @domain-sports-color;
		}
	}
	&.domain-10 {
		&:hover {
			border-top-color: @domain-politics-color;
		}
	}
	&.domain-30 {
		&:hover {
			border-top-color: @domain-entertainment-color;
		}
	}
	&.domain-60 {
		&:hover {
			border-top-color: @domain-science-color;
		}
	}
	&.domain-90 {
		&:hover {
			border-top-color: @domain-justice-color;
		}
	}
	&.domain-80 {
		&:hover {
			border-top-color: @domain-arts-color;
		}
	}
	&.domain-50 {
		&:hover {
			border-top-color: @domain-tech-color;
		}
	}
	&.domain-20 {
		&:hover {
			border-top-color: @domain-business-color;
		}
	}
}

.topic-informer {
	background: #e9e9ef;
	padding: 10px;
	margin: 0px;
	margin-bottom: 15px;
	font-size: 90%;
	.border-radius(3px);
}

.no-margin {
	margin: 0px!important;
}

.grid-control.ref-border-top {
	border-top: 3px solid #fff;
	&.domain- {
		//border-top-color:#839fae;
		border-top: none;
	}
}
/*      story plage     */

.image-wrapper {
	position: relative;
	max-width: 400px;
	min-height: 50px;
	.video-layer {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		top: 0px;
		color: #ccc;
		padding: 6px 10px;
		cursor: pointer;
		overflow: hidden;
		&:hover {
			background-color: rgba(0, 0, 0, .4);
		}
		.media-icon {}
	}
}
/*      news item       */

#news-item-story {
	background-color: @domain-world-color;
	padding: 4px 10px;
	.border-radius(3px);
	a {
		color: #fff;
	}
}

#outside-share {
	position: absolute;
	left: -40px;
	top: 10px;
	width: 40px;
	padding: 5px;
	background: #ddd;
	.border-left-radius(3px);
}

#layout-menu {
	margin-top: 18px;
	height: 30px;
	overflow: hidden;
}

#layout-content {
	margin-top: 18px;
}

#main-menu {
	display: table;
	padding-left: 0px;
	margin: 0px auto;
	list-style-type: none;
	white-space: nowrap;
	overflow: hidden;
	li {
		float: left;
		display: inline-block;
		margin: 0px;
		padding: 0px;
		a {
			line-height: 14px;
			display: block;
			padding: 8px 15px;
			margin: 0px 1px;
			color: @second-color;
			font-weight: bold;
			text-decoration: none;
			.border-radius(2px);
			&:hover, &.active {
				//background-color: #fff;
				color: #fff;
			}
		}
	}
}

.content-header {
	margin-bottom: 16px;
	border-bottom: 1px solid @layout-color;
	padding-bottom: 2px;
	h1, h2, h3 {
		margin: 0px;
		font-weight: normal;
		padding-bottom: 2px;
	}
	h1 {
		line-height: 26px;
	}
	.media-object {
		.square(45px);
		.border-radius(3px);
	}
}
