#story-page {
    h1 {
        font-size: 32px;
        margin: 0px;
        a {
            color: @text-color;
        }
    }
    .item-details {
        color: #777;
        font-size: 90%;
        margin: 10px 0px;
    }
    .item-body {
        margin: 15px 0px;
    }
    p {
        font-family: @headings-font-family;
        font-size: 120%;
        /*text-align: justify;*/
    }
}

.story-image {
    position: relative;
    .image-source {
        position: absolute;
        color: #fff;
        font-size: 90%;
        bottom: 10px;
        left: 15px;
        // text-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
    }
}
