.list.ot-story {
    .list-item {
        margin-bottom: 15px;
    }
}

.item.ot-story {
    h3 {
        font-size: 14px;
        line-height: 18px;
    }
    p {
        margin: 0px 0px 4px 0px;
        line-height: 18px;
    }
    .details {
        font-size: 90%;
    }
}

.list.view-large {
    .item {
        background-color: #fff;
        -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
        &:hover {
            -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .2);
            box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .2);
        }
    }
    .item-body {
        padding: 10px;
    }
    .item.ot-story {
        h3 {
            font-size: 16px;
            margin-bottom: 5px;
        }
        p {
            margin: 5px 0px;
            font-size: 110%;
        }
    }
}

.fine-image {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        border: 0;
    }
}

.list.ot-story.view-simple {
    .item {
        margin-top: 0;
        zoom: 1;
        overflow: hidden;
        .item-image {
            display: table-cell;
            vertical-align: top;
            padding-right: 10px;
            img {
                width: 75px;
                height: 75px;
                border-radius: @border-radius;
            }
        }
        .item-body {
            zoom: 1;
            overflow: hidden;
            display: table-cell;
            vertical-align: top;
            width: 10000px;
        }
    }
}

.list.ot-story {
    &.view-row {
        .item {
            height: 194px;
            margin-bottom: 10px;
            a {
                text-decoration: none;
            }
            &:hover {
                a {
                    color: @accent-color;
                }
            }
        }
    }
}
