.c-cap {
    text-align: right;
    font-weight: bold;
    font-size: 1.1rem;
    .c-fc-temp {
        font-size: 1.5rem;
        vertical-align: middle;
    }
    .w-icon {
        float: right;
    }
}

.c-cap__name {
    display: inline-block;
    white-space: nowrap;
    a {
        display: inline-block;
        margin-right: 5px;
        color: $text-color;
        vertical-align: middle;
    }
}