.group {
    margin-bottom: 16px;
    /*overflow: hidden;*/
    .group-title {
        padding: 4px 0px;
        margin-bottom: 3px;
        a {
            color: @text-color;
        }
        span {
            color: @details-color;
        }
        h4,
        h3,
        h2 {
            margin: 0px;
        }
    }
    .group-content {
        padding: 5px 0px;
    }
}
