
#preview {
		height: 180px;
		position: relative;
		h1 {
				font-weight: normal;
		}
}

#preview-image {
		height: 100%;
		background-image: url(https://c2.staticflickr.com/8/7728/17457049851_757380ebdb_h.jpg);
		display: block;
		height: 100%;
		background-position: center center;
		background-size: cover;
		opacity: .9;
}

#preview-content {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0px;
		padding-top: 95px;
		color: #fff;
}

.sub-title {
		font-size: 100%;
}

#layout-content {
		margin-top: 18px;
}
