.form-layout {
    .container {
        max-width: 1000px;
    }
}

.accent-line {
    height: 6px;
    overflow: hidden;
}

.accent-item {
    height: 6px;
    width: 10%;
    display: inline-block;
    float: left;
    
    &.domain-0 {
        background-color: @domain-0-color;
    }
    &.domain-1 {
        background-color: @domain-10-color;
    }
    &.domain-2 {
        background-color: @domain-20-color;
    }
    &.domain-3 {
        background-color: @domain-30-color;
    }
    &.domain-4 {
        background-color: @domain-40-color;
    }
    &.domain-5 {
        background-color: @domain-50-color;
    }
    &.domain-6 {
        background-color: @domain-60-color;
    }
    &.domain-7 {
        background-color: @domain-70-color;
    }
    &.domain-8 {
        background-color: @domain-80-color;
    }
    &.domain-9 {
        background-color: @domain-90-color;
    }
}
