.trans #header-logo {
    background-image: url('//assets.ournetcdn.net/ournet/img/logos/ournet-logo.png');
}

.country-md .trans #header-logo {
    background-image: url('//assets.ournetcdn.net/ournet/img/logos/click-logo.png');
}

.country-ru .trans #header-logo {
    background-image: url('//assets.ournetcdn.net/ournet/img/logos/zborg-logo.png');
}

.country-pl .trans #header-logo {
    background-image: url('//assets.ournetcdn.net/ournet/img/logos/diez-logo.png');
}

.country-al .trans #header-logo {
    background-image: url('//assets.ournetcdn.net/ournet/img/logos/moti2-logo.png');
}

.trans #header-search {
    #q {
        border: 1px solid #fff;
    }
}
