
#page-header {
	padding: 10px 0px 10px 10px;
	position: fixed;
	width: 100%;
	z-index: 10;
}

#header-logo {
	float: left;
	width: 160px;
	display: inline-block;
	height: 50px;
	background-position: 0 8px;
	background-repeat: no-repeat;
}

#header-logo {
	background-image: url('//assets.ournetcdn.net/ournet/img/logos/ournet-logo.png');
}

.country-md #header-logo {
	background-image: url('//assets.ournetcdn.net/ournet/img/logos/click-logo.png');
}

.country-ru #header-logo {
	background-image: url('//assets.ournetcdn.net/ournet/img/logos/zborg-logo.png');
}

.country-pl #header-logo {
	background-image: url('//assets.ournetcdn.net/ournet/img/logos/diez-logo.png');
}

.country-al #header-logo {
	background-image: url('//assets.ournetcdn.net/ournet/img/logos/moti2-logo.png');
}

#header-search {
	float: left;
	padding-left: 10px;
	height: 40px;
	padding-top: 10px;
	#q-form {
		position: relative;
		height: 30px;
	}
	#q {
		outline: 0;
		border: 1px solid #CCC;
		width: 100%;
		background: white;
		padding: 4px 7px;
		float: left;
		border-bottom-color: #BBB;
		border-right-color: #BBB;
		.border-radius(3px);
	}
	#search-btn {
		position: absolute;
		top: 2px;
		right: 2px;
		height: 24px;
		width: 24px;
		display: inline-block;
		text-decoration: none;
		background: #fff;
		.icon {
			background-position: 0 0px;
			width: 18px;
			height: 18px;
			top: 2px;
			left: 2px;
		}
	}
}
