body {
    margin: 0px;
    padding: 0px;
    /*font-family: Roboto,Helvetica,sans-serif;;*/
    background-color: @layout-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
    .border-radius(3px);
    padding: 4px 6px;
    border: 1px solid #ddd;
}

fieldset {
    border: none;
}

a {
    cursor: pointer;
}
