body {
	margin: 0px;
	padding: 0px;
	font-family: @font-family-base;
	font-size: @font-size-base;
	color: @text-color;
	background-color: @layout-color;
	-webkit-font-smoothing: antialiased;
}
body,html {
	height: 100%;
	overflow: hidden;
}

main {
	height: 100%;
  -webkit-perspective: 100px;
  perspective: 100px;
  -webkit-perspective-origin: 0 0;
  perspective-origin: 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
	.border-radius(3px);
	padding: 4px 6px;
	border: 1px solid #ddd;
}

a {
	cursor: pointer;
}

.details {
	color: @details-color;
}
