
@brand-primary: #2199e8;
@headings-font-family: Georgia,Helvetica,serif;//"Roboto Slab",Helvetica,serif;
@text-color: #333;
@layout-color: #f2f0ea; //#f4f2ed;//#f0ede7;
@dark-layout-color: darken(@layout-color, 10%);
@font-size-base: 14px;
//@font-family-base: Roboto,Helvetica,sans-serif; //Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
@details-color: #999;
@second-color: #435a66;//#506c7b;
@accent-color: #cb5800;
@accent-border-width: 3px;
@green-color: #85a559;
@red-color: #cb6048;
@ads-color: #e9e9ef;

@domain-politics-color: #e46f61; //#ea4848;
@domain-10-color: @domain-politics-color;
@domain-business-color: #875f8d;
@domain-20-color: @domain-business-color;
@domain-entertainment-color: #c84697;
@domain-30-color: @domain-entertainment-color;
@domain-sports-color: #95b464;
@domain-40-color: @domain-sports-color;
@domain-tech-color: #2e9b97;
@domain-50-color: @domain-tech-color;
@domain-science-color: #db7723;
@domain-60-color: @domain-science-color;
@domain-live-color: #6f85bf;
@domain-70-color: @domain-live-color;
@domain-arts-color: #3d80b9;
@domain-80-color: @domain-arts-color;
@domain-justice-color: #72778c;
@domain-90-color: @domain-justice-color;

@domain-world-color: #9db49f; //#20b663;
@domain-0-color: @domain-world-color;

@hover-box-shadow-color: lighten(#357ebd, 5%);

@sight-height: 100px;
@sight-content-padding-top: 100px;

@header-height: 48px;
@header-color: #fff;
@border-radius: 2px;
@page-header-margin-bottom: 15px;
@border-radius-base: @border-radius;
