#widget-weather {
  float: right;
  text-align: right;
  padding-top: 8px;
  .symbol {
    float: right;
    padding-top: 1px;
    width: 32px;
    height: 32px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .name {
    font-size: 120%;
    font-weight: bold;
    color: @second-color;
    display: inline-block;
    margin-top: 2px;
    padding-right: 10px;
    a {
      color: @second-color;
      display: inline-block;
      margin-top: 5px;
      vertical-align: top;
      margin-right: 5px;
    }
    .no {
      color: #435A66;
      font-size: 150%;
      text-shadow: 2px 2px 3px #EEE;
    }
  }
}
