#widget-weather {
    padding-top: @header-height/2 - 18;
    position: relative;
    float: right;
    text-align: right;
    .symbol {
        float: right;
        background-size: cover;
        margin-top: -2px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .name {
        font-size: 120%;
        font-weight: bold;
        color: @second-color;
        display: inline-block;
        margin-top: 2px;
        padding-right: 10px;
        a {
            color: @second-color;
            display: inline-block;
            margin-top: 5px;
            vertical-align: top;
            margin-right: 5px;
        }
        .no {
            font-size: 150%;
        }
    }
    .background {
        position: absolute;
        background-position: center center;
        background-size: cover;
        opacity: .9;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: -1;
    }
}

.solid #widget-weather {
    background-color: @accent-color;
}
