#widget-conf {}

#widget-preview {
    text-align: center;
    h2 {
        margin-top: 0px;
        font-size: 1.5em;
    }
}

#widget-iframe {
    min-height: 260px;
    ins {
        margin-left: auto;
        margin-right: auto;
    }
}

#widget-script {
    width: 90%;
    height: 120px;
    font-size: 80%;
}

.form-table {
    td,
    th {
        padding: 3px;
    }
    button {
        background-color: @link-color;
        border-radius: 3px;
        padding: 6px 12px;
        color: #fff;
        border: none;
        &:hover {
            background-color: darken(@link-color, 10%);
        }
        &:active {
            background-color: @accent-color;
        }
    }
    select {
            -moz-border-radius: 3px;
            border-radius: 3px;
            padding: 4px 6px;
            border: 1px solid #ddd;
    }
}
