@report-summary-height: 40px;
@report-details-row-height: 40px;
@report-wi-size: 40px;
.weather-table {
    line-height: 1;
    .wi {
        font-size: @report-wi-size;
        vertical-align: middle;
        margin-right: 15px;
        width: 42px;
    }
}

.wt-head {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

.wt-body {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

.wt-row {
    border-bottom: 1px solid darken(@layout-color, 5%);
    background-color: #fff;
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

.wt-col {
    height: 100%;
    float: left;
    min-height: 2px;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
}

.wt-date {
    width: 20%;
}

.wt-temp {
    width: 40%;
}

.wt-precip {
    width: 15%;
    text-align: center;
}

.wt-wind {
    width: 25%;
    text-align: right;
}

.report-summary {
    height: @report-summary-height;
    cursor: pointer;
    &.closed {
        display: none;
    }
    .wi {
        
    }
}

.report-details {
    display: none;
    &.opened {
        display: block;
    }
}
