@report-summary-height: 40px;
@report-details-row-height: 40px;
@report-wi-size: 40px;
.weather-table {
    /*display: table;*/
    width: 100%;
    .w-icon {
        vertical-align: middle;
        margin-right: 15px;
    }
}

.wt-head {
    font-size: 90%;
    background-color: darken(@layout-color, 5%);
    display: table-row;
    cursor: pointer;
    border: none;
    &:hover {
        background-color: darken(@layout-color, 8%);
    }
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

.wt-body {
    /*display: table-row-group;*/
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

.wt-row {
    display: table-row;
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

.wt-col {
    display: table-cell;
    /*height: @report-summary-height + 10;*/
    min-height: 2px;
    overflow: hidden;
    padding: 5px;
    vertical-align: middle;
    white-space: nowrap;
}

.wt-date {
    width: 25%;
    font-size: 140%;
    padding-left: 10px;
    &.weekend {
        .wday {
            color: @accent-color;
        }
    }
}

.wt-temp {
    /*width: 40%;*/
}

.temp,
.temp-night {
    font-size: 200%;
    display: inline-block;
    vertical-align: middle;
}

.temp {
    padding-right: 15px;
}

.temp-night {
    color: darken(@layout-color, 10%);
}

.wt-precip {
    /*width: 15%;*/
    text-align: center;
}

.wt-wind {
    /*width: 25%;*/
    text-align: right;
}

.report-summary {
    /*height: @report-summary-height;*/
    display: table;
    width: 100%;
    cursor: pointer;
    margin: 5px 0px;
    border-top: 2px solid darken(@layout-color, 5%);
    border-bottom: 1px solid darken(@layout-color, 6%);
    background-color: lighten(@layout-color, 8%);
    &.closed {
        display: none;
    }
    .wi {}
    .date {
        font-size: 80%;
    }
}

.report-details {
    display: none;
    margin-bottom: 5px;
    &.opened {
        display: table;
        width: 100%;
    }
    .wt-col {
        border-bottom: 1px solid darken(@layout-color, 5%);
    }
    .wt-row {
        background-color: #fff;
    }
}

.table {
    display: table;
    width: 100%;
}
