.report {
    margin-bottom: 20px;
}

.report-body {
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    padding: 10px;
    overflow: hidden;
    font-size: 110%;
}

.report-head {
    background-color: @brand-primary;
    color: #fff;
    padding: 4px 10px;
    h3 {
        margin: 0;
        font-weight: normal;
    }
}
