.zs-list {
	text-align: right;
	.zodiacs {
		width: 43px;
		height: 43px;
		display: inline-block;
	}
	a {
		overflow: hidden;
		display: inline-block;
		margin: 5px;
		border-radius: @border-radius;
		:hover {
			background-color: #fff;
		}
	}
}