$item-spacing: $global-spacing-unit-small;
.c-event-it {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    padding: 0px $item-spacing $item-spacing;
    overflow: hidden;
    margin-bottom: $global-spacing-unit;
}

.c-event-it__media {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: (1.04/2) * 100%;
    margin-left: -$item-spacing;
    margin-right: -$item-spacing;
    background-size: cover;
    background-repeat: no-repeat;
    // img {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     min-height: 100%;
    //     min-width: 100%;
    // }
}

.c-event-it__title {
    margin: 6px 0;
    font-weight: 500;
}
h2.c-event-it__title {
    @include inuit-font-size($inuit-font-size-h3);
}
h3.c-event-it__title {
    @include inuit-font-size($inuit-font-size-h5);
}

.c-event-it__info {
    font-size: 80%;
    color: $mute-color;
}

.c-event-it__stats {
    float: right;
}

.c-event-it__topic {
    display: inline-block;
    padding: 1px 6px;
    border-radius: $global-radius;
    background-color: $secondary;
    color: white;
}

.c-event-it__items {
    color: $mute-color;
    font-size: 90%;
    max-width: 100%;
    margin-bottom: 0px;
    margin-top: $item-spacing;
    a {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        display: block;
        color: $text-color;
    }
}