@include mq($until: tablet) {
    .c-event {
        margin-left: -$global-spacing-unit-small;
        margin-right: -$global-spacing-unit-small;
    }
    .c-event__body {
        padding-left: $global-spacing-unit-small;
    }
}

.c-event {
    margin-bottom: $global-spacing-unit;
}

.c-event__body {
    background-color: white;
    padding-top: $global-spacing-unit-small;
    padding-right: $global-spacing-unit-small;
    padding-bottom: $global-spacing-unit;
}

.c-event__title {
    font-weight: normal;
    margin-bottom: $global-spacing-unit-small;
    a {
        color: $text-color;
    }
}

.c-event__stats {
    margin-bottom: $global-spacing-unit-small;
    font-size: 85%;
    color: $mute-color; // text-align: right;
    time {
        border-bottom: 1px dotted $mute-color;
    }
}

.c-event__tags {
    margin: $global-spacing-unit-small 0px;
    font-size: 90%;
    list-style: none;
    li {
        display: inline-block;
    }
}

.c-text-link {
    font-weight: 500;
}

.c-out {
    padding-bottom: $global-spacing-unit-small;
    font-size: 80%;
    a {
        color: $accent-color;
        font-weight: 500;
    }
}